{% extends 'base.html.twig' %}
{% block title 'Авторизация' %}
{% block main %}
    <div class="container-tight py-4">
        <form class="card card-md" method="post" autocomplete="off">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Авторизация</h2>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="mb-3">
                    <input class="form-control placeholder-no-fix" type="text" value="{{ last_username }}"
                           autocomplete="off" placeholder="Имя пользователя" name="username"/>
                </div>
                <div class="mb-2">
                    <div class="input-group input-group-flat">
                        <input class="form-control placeholder-no-fix" type="password" autocomplete="off"
                               placeholder="Пароль"
                               name="password"/>
                    </div>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">Войти</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
